<header>
  <h2>生成結果</h2>
</header>
<p>
  <img src="<%= @image %>" />
</p>
<p>「名前を付けて画像を保存」してね。</p>

<footer>
  <hr>
  <p><small><a href="https://github.com/masoo/nnlh">このアプリのソースコード</a></small></p>
  <p><small><%= link_to "トップページへ", root_path %></small></p>
</footer>
